
.download-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 40px;
  
  background-color: #f7f7f7;
  
}

.centered-box {
  display: flex;
  align-items: center;
  
  justify-content: space-between;
  width: 70%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin: 0 auto 100px;
  
  
}

.download-button {
  background-color: #4327a1;
  color: white;
  font-weight: bold;
  font-size: 19px;
  border: none;
  border-radius: 15px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-decoration: none;
  margin-left:230px;
  margin-bottom:50px;
  
}
.download-button:hover {
  background-color: #664fb3;
}
.readability-score {
  margin: 20px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.react-tabs__tab--selected {
  background-color: #ffffff !important;
  border-color: #e35420 !important;
  color: #4327a1 !important;
  font-weight: bold !important;
  border-bottom: none !important;
  
}

.react-tabs__tab {
  border: none !important;
  margin-right: 10px !important;
  margin-bottom:10px;
  
}
.react-tabs__tab--selected {
  border-bottom: none !important;
  background-color: #e35420 !important;
  color: #fff !important;

}

.react-tabs__tab-list {
  border-bottom: none !important;
  font-weight: bold;
  font-size: 16px;
}

.react-tabs__tab {
  border: none !important;
  margin-right: 10px !important;
  border-bottom: none !important;
}

.react-tabs__tab:hover {
  color: #e35420 !important;
  
}
.react-tabs__tab--selected:hover {
  
  color: #fff !important;

}



.html-output {
  margin-bottom: 1rem;
}
