
.form-group label {
  color: #2f1004;
  font-weight: bold;
  font-size: 24px;
}
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
    background-color: #f0f0f0;
    background-image: url();
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;
    
  }

.home-upload-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  border: dashed 3px #ccc;
  border-radius: 10px;
  width: 25rem;
  height: 20rem;
  padding: 50px;
  background-color:#f9f9f9;
}




  /* HomePage.css */

.file-upload-label {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 4rem;
  text-align: center;
  font-family: Poppins,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.file-upload-icon {
  margin-right: 10px;
}

.file-upload-input {

  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
.form-group input[type="file"] {
  visibility: hidden;
}

.drag-drop{
  text-align: center;
  font-size: 18px;
}
.custom-upload-button {

  background-color: #4327a1;
  color: #F0F0F0;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 15px;
  padding: 0.5rem 0.7rem;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 10px;
}

.custom-upload-button:hover {
  background-color: #382575;
}

.file-upload-input {
  display: none;
}


.form-group input[type="file"] {
  border: none;
  background-color: #F0F0F0;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}


.suggestion {
  display: flex;
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 80%;
  text-align: center;
  margin-bottom: 50px;
}

.suggestion-text {
  margin: auto;
  font-weight: bold;
  font-size: 15px;
  margin-right: 4px;
}

.suggestion-size {
  font-size: 1rem;
  min-width: 176px;
}
.suggestion-example-notebook {
  display:inline-block;
  margin:10px;
  max-width: 40px;
  border-radius: 0.25rem;
  box-sizing: border-box;
}

.rounded-example {
  width: 65px;
  
}

.notebook-file {
  width: 10rem;
  margin-left: 0.9rem;
  margin-top: 3rem;
  margin-bottom: 30px;
}