/* NavBar.css */

.navbar {
  background-color: #FCA22F;
  display: flex;
  justify-content: space-between;
}

.navbar-brand {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 28px;
}

.navbar-nav .nav-link {
  color: #FFFFFF;
}
.ml-auto {
  display: flex;
  justify-content: flex-end;
}
